{
	"data": "ENC[AES256_GCM,data:cVS97dAPTyM4JJ05cfhuuqyV/Wf5FBp4uVnAVNxwN/gmeoRqH+mOElPFj1WZQhHc4WY815NRx/g4pEvhJ2bsEU+R+mtiJ6BXnXCRErIOWx4EJ74+1aHDHJITzeGpa3zKZ94rptjglrkmYPgz3zSQPpiupeitVjrRFf6zimdsKZF3qkXyHF+eHqgXV6+K0KDMg3XFX7SUaNZRC+rxfTnvJB42Xx1BJdYjc6X/Rwu1bYy9sb9NVhmGU+pTwqvP2/RRUj2jW3WKFerUERYhHAhMHWkVZlIfqbn1P9i9XZ4DN1nv2n5G+a/gAYL+lp/CH88a9rkLue/6nYLhpHlw8XAUHR9chiMLu2Nl65bB6Ie8DcbHI0Q/xW1XaUR/CKHn1A4rLTIQ1dAuzaGAeWak4ePqqWE8LIwLxGI9dsZB5sbOjzfNuCms6AwQv9CrnkTV95UACOvw34qSDI4EHNMJC8bTVHHGAXhIZ8a1LNf0fye8AdpZGHr8XHY=,iv:yvN7SlCi7zZpWO6Y93JN7w1c/NF2eL0MrBClQhirAkY=,tag:nZY4SURVvzJIBwT1UD+vwQ==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age12409ktkdynl48p38wz45pu2s25kmffsw4p9d9vgt3xmmwl8f7q7sjlxyrs",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6UlhrRmxXem5DWlJiVGNu\nejhTVGRKSGtScFpld1lJWGp4bGlkejhDYlRNCklHaXJkZ0x4Y2Zadi9Tc3hXNDFl\nTHd0Wm1qSzl4VUpwdFNGS0RjVnpYT00KLS0tIHBBSW9JTmE5NkIraFVtenFvUm8z\nRlZhUW80eUd5NndkSXYwc01teDFRVnMK7+D7ozUgmzx/PnPx5BkNYAt6ifj/m0bt\nGKdTZboCiGhGlkTZU9SDfthqegt4E+zXUGZN/AM7bl+trahopKsw0Q==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2023-12-15T18:49:00Z",
		"mac": "ENC[AES256_GCM,data:7yYaTt1WwqSmBCfymw47gUIn+HGx93xbX7Bnm92Hq1dulvK3PWOrXx07xf0w7zm7ucv99HQwuCx6+GLf8gkiK8GBsbZcLShgN6WTjfJ9Ll6PSp0IqLmsp8IIh2i5Fc4GAUhC5D4pS0Y1PjPoXS33QjatsGHfP56SffZwGLRcziU=,iv:tjEDfQYzy3oUCY1FMryZelxICgtVXhMf6/XtweQYCsE=,tag:J51WDiZANtdKBmVxcUIg3A==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}