{
	"data": "ENC[AES256_GCM,data:vmDJFjpNUrqvkVyGhxSuEvhxYToKp4YUOJyptLfwpEnE7t93wxK9lNOkMtWCXZZcWHYEKlRgu33wynfrrOWfXOAabhHWICtzApE4AalVgvey94ggg23m+TLR98XdU1CZvyrZdOKwhZpdvKYEYISbuXEQ3BeQXPx5aGTpOmRDwTCOi8zCIOvwRn8yyzx//rOgeqlDvtv1XoVkeVBl5D92E2LvVP2qCesFtNpjty8hIhaf5wvdk9nLjdLm/jUNTPwlqEKG88TYcUGcg4FncrGH45zzpZj6dkT7JS/JDyh4zJaoOLiin/rL9PqP8l8SYUWsRQ0o/DOtcIvHvmowN3v1h3agEXxQgZTKRBGa5zNjWRpsopyntcJ8w2NYzecu+5FFFN00pcsJu11rpiYLiVtcPNY+DWsQDPeyIgZIqrsNe6AlmlZ5YD3VptSyDqn18eRm9saukt6M9slgTh6r7I502ice+hR8/kPLiZ3B33XoZ8e99+BeDq85oA==,iv:bZwuYHZ5Dvpwtzost9dGeymUaB6v8Z0cmVEqtg2AAVM=,tag:q7k42uyVyzzzrJWe2abH2Q==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age12409ktkdynl48p38wz45pu2s25kmffsw4p9d9vgt3xmmwl8f7q7sjlxyrs",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6UlhrRmxXem5DWlJiVGNu\nejhTVGRKSGtScFpld1lJWGp4bGlkejhDYlRNCklHaXJkZ0x4Y2Zadi9Tc3hXNDFl\nTHd0Wm1qSzl4VUpwdFNGS0RjVnpYT00KLS0tIHBBSW9JTmE5NkIraFVtenFvUm8z\nRlZhUW80eUd5NndkSXYwc01teDFRVnMK7+D7ozUgmzx/PnPx5BkNYAt6ifj/m0bt\nGKdTZboCiGhGlkTZU9SDfthqegt4E+zXUGZN/AM7bl+trahopKsw0Q==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2024-01-13T10:50:33Z",
		"mac": "ENC[AES256_GCM,data:5WshVjpQnvlR2HTiSnzYfhlPD3V/UTarHLAD9McCL7NbnA/wVYXqn69tpIhsaeck/KlAtfno9eEPHXLdBAgD5+GW6pHb/3MovCpFq83gU/0Dusy6CrqSw4LgsKKfT0nVZq4oF5oeVdWq53d/AGBuSFQNy2qCaesTG2IJe1vrhj4=,iv:LbGVb4S/Z3wGe/j9hhHN8QKSbBwoCWaPXfg+vr1ncTM=,tag:/oUUQl54S4Va7YJ3Pb1iug==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}