{
	"data": "ENC[AES256_GCM,data:thCG+EeZ32zpVDREkNUwMTiMrCnV7z2dH5LTZf9k1KEW5p0rzylrJDFnEKLQLvCC3xfG1HmUBX+bFRw9CTseIYMERfuL4cdUlrF4hs/u7IfRME8q4KkQgwnA8IjaoQqnen2tYkJMnlmLD/3Kiij8kQdOjzCXEdstn/MIyZPJqa+ziXM9WZdKKO/wPgFS0xu+3Kd1GkAnLcPjkQwq7Tm3FLPl25ZlNfjIZCx0G9f8RQ8ziph/quUyawCihsnC5oYG5Rsc+fS1dc+Rz4pLQWPMwC+T7dfiP+gctQPJZ26+Jajt3p+/niTKZBjCcuqBs+P8R2IRlyCk3PqB8rYUAgkcn7TCbwkohJ4MQX5hC3HxEjz4Ej02GSR8kzkuOy/BWa+Bb8o7y5DCMsCRTFzDaPVF8BCU8qIyUbYiaIKcm5gg3Df8zeoMWbOrWV1k65pSZM02diRHdXO2s0TKB/Ff7lUiS5rUaWMqYy72jwoDsXawNCTvH7QCIECggVL4zFmWXAYoKUwNZDKhdzCp9d4+BXkEnRFHK6A6vielvwbAd1irjLbLZPd3CsvrcC32atF9pSPLOmnOwLS64ukP9LCqzv03OZ/FSk3p91kRylSU6CWMQh8aKkkbZbSkWO9lx/fKj1V2dknGgzEcXAQaqVbg79WpSyJKWvE/jajbLagLKBpcZ7DRgTzzeH4YLV6nW7N1iHfW5haIXm1lmJnVmv2LLdabdUzOk7k1Bf1vXopDUufJWR0PLYKrHp2YfPkQHq+Kywfls2nRWWoOKhKyj1MtezwpuuDe,iv:IuJVoprtxh2wzP4xaakhbDGxfA1i8ZMS6P4yVGVzG0I=,tag:XOCQyLcZ1/Z1usqn8cemWg==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age12409ktkdynl48p38wz45pu2s25kmffsw4p9d9vgt3xmmwl8f7q7sjlxyrs",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6UlhrRmxXem5DWlJiVGNu\nejhTVGRKSGtScFpld1lJWGp4bGlkejhDYlRNCklHaXJkZ0x4Y2Zadi9Tc3hXNDFl\nTHd0Wm1qSzl4VUpwdFNGS0RjVnpYT00KLS0tIHBBSW9JTmE5NkIraFVtenFvUm8z\nRlZhUW80eUd5NndkSXYwc01teDFRVnMK7+D7ozUgmzx/PnPx5BkNYAt6ifj/m0bt\nGKdTZboCiGhGlkTZU9SDfthqegt4E+zXUGZN/AM7bl+trahopKsw0Q==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2022-02-11T07:23:45Z",
		"mac": "ENC[AES256_GCM,data:l00S0rsyFwtvkt5+1IcOKdAM4twaVPzzwWRNJRNpgdXclI+4631PC+fDfaqEs7NVNjoCRka65E1ReXU0Oh/Fi5KvOfYtJhqEt/x5dejJQBh+3R0OloXXnGwI3PE9iREwfC794Guz+QL+fmNdUpPJmh5UsGlHBmFEV1LGB16wiu8=,iv:vaqJEAA8KH5PYR59JdtRuQxJeBLpn/ZS32tbBEHr9b0=,tag:eJU/43FRos57w0pZHbhUxQ==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.7.1"
	}
}